@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navButton {
    border: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #FB8500;
    padding: 10px 24px;
    border-radius: 10px;
    
    font-size: 22px;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.navButton:hover{
    background-color: #fb5800;
    transform: scale(1.1)
}

.topContainer{
    position: relative;
}

.containerOverlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.Text{
    font-size: 3.5rem;
    margin: 0.5rem 0;
    font-family: Montserrat,sans-serif;
    font-weight: 650;
    font-style: italic;
}

.containerCaption {
    position: absolute; /* Hace que tome la posicion del div padre*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra con el position absolute*/
    color: white;
    text-align: center;
    z-index: 2; /*z index: Funciona como capas*/
    padding: 20px;
    width: 80%;
}

.secondContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftSide{
    margin-top: 0px;
    text-align: center;
    flex: 1;
}

.rightSide {
    flex: 2;
    text-align: center;
}

.imageContainer {
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
}

.imageLeft {
    width: 384px;
    height: 407px;
    display: block;
    border-radius: 10px;
    margin-top: 0px;
}

.imageRight {
    width: 810px;
    height: 407px;
    display: block;
    border-radius: 10px;
}

.divider {
    width: 5px;
    height: 300px;
    background-color: #000000;
    margin: 0 20px;
}

.p {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 10px;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

.h2Right{
    font-size: 50px;
    font-family: Montserrat,sans-serif;
    font-weight: 650;
    line-height: 50px;
}
.h2Left{
    font-size: 40px;
    font-family: Montserrat,sans-serif;
    font-weight: 650;
    line-height: 50px;
    margin-top: 0px;
    margin-bottom: 40px;
}

/* Responsive */
@media (max-width: 1024px) { /* REVISAR!!Tablet */
    .Text {
        font-size: 2.5rem;
    }
    .containerCaption {
        width: 90%;
    }
    .secondContainer {
        flex-direction: column;
        align-items: center;
    }
    .imageLeft, .imageRight {
        width: 100%;
        height: auto;
    }
    .divider {
        width: 80%;
        height: 5px;
        margin: 20px 0;
    }
    .navButton {
        font-size: 18px;
        padding: 8px 20px;
    }
    .p {
        font-size: 16px;
    }
    .h2Right, .h2Left {
        font-size: 2rem;
        line-height: 40px;
    }
}

@media (max-width: 768px) { /* Mobile */
    .Text {
        font-size: 1.5rem;
    }
    .containerCaption {
        width: 100%;
        padding: 10px;
    }
    .secondContainer {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .imageLeft.imageRight {
        width: 100%;
        height: auto;
    }
    .divider {
        width: 90%;
        height: 3px;
        margin: 10px 0;
    }
    .navButton {
        font-size: 16px;
        padding: 6px 16px;
    }
    .p {
        font-size: 14px;
    }
    .h2Right, .h2Left {
        font-size: 1.5rem;
        line-height: 30px;
    }
}