@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.ContenedorPadre{
    margin: auto;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}

.ContenedorIzqChild{
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 0 10vh;
    background-color: antiquewhite;
    border-radius: 8vh;
    position: relative;
    width: 100vh;
    height: 65vh;
}


.ContenedorIzqChild input{
    background-color: #eee;
    width: 25vh;
    height: 5vh;
    border: none;
    border-radius: 8vh;
    margin: 0.4vh 0;
    padding: 2vh 2vh;
}

.ContenedorIzqChild button{
    cursor: pointer;
    background-color: #FF8200;
    color: #fff;
    font-size: 2.5vh;
    border: 1vh solid transparent;
    border-radius: 8vh;
    width: 30vh;
}


.ContenedorIzqChild img{
    max-height: 5vh;
    align-items: center;
    justify-content: center;
    margin-left: 5vh;
}

.ContenedorDerChild{
    display: flex;
    position: relative;
    align-items: right;
    justify-content: center;
    flex-direction: column;
}