p, h1 {
    font-family: var(--fuentePrincipal);
}

.fondoNegro {
    position: fixed; /* Asegura que el pop-up se muestre sobre el contenido */
    top: 0; /* Posiciona el pop-up en la parte superior de la ventana */
    left: 0; /* Posiciona el pop-up en la parte izquierda de la ventana */
    width: 100%; /* Ocupa el ancho completo de la ventana */
    height: 100%; /* Ocupa la altura completa de la ventana */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo negro translúcido */
    display: flex; /* Centra el contenido del pop-up */
    justify-content: center; /* Centra el contenido del pop-up */
    align-items: center; /* Centra el contenido del pop-up */
    z-index: 1000; /* Asegura que el pop-up se muestre sobre otros elementos */
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid var(--colorPrincipal);
    border-radius: 20px;
    padding: 1rem;
    background-color: white; /* Asegura que el contenido del pop-up sea visible */
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .popup {
        margin: 0 auto;
        width: 70%;
    }
}

@media (min-width: 1140px) {
    .popup {
        width: 60%;
    }
}

.contenedorImagen {
    margin: auto;
    background-color: var(--gris);
    padding: .6rem;
    border-radius: 50%;
    margin-bottom: 5px;
}

.popupImagen {
    width: 6rem;
    height: 6rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-image: url(../../assets/usuarioimg.png);
}

.popupInfo {
    line-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popupInfo_bienvenido {
    display: flex;
    column-gap: 1rem;
}

.botonContinuar {
    background-color: var(--colorPrincipal);
    padding: 3px 15px;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}

.botonContinuar:hover {
    background-color: var(--colorPrincipal__hover);
    transform: scale(1.1);
}