@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Cada tarjetita */

.tarjetaProductos {
    
    border-radius: 35px;
    border-top: none;
    
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 0px;
    padding: 16px 30px 16px;

    width: 230px !important;
    text-align: center;
    background-color: #FFCA99;
    display: flex;
    flex-direction: column;

    box-shadow: 0px 0px 8px rgba(77, 42, 7, 0.531);
}

/* Ver Menu */
.navButton {
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #FB8500;
    padding: 5px 35px;
    border-radius: 15px;
    font-size: 14px;
    font-family: Montserrat,sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-top: 5px;
}

.navButton:hover {
    background-color: #fb5800;
}

/* Imagen del producto */
.img {
    height: 180px;
    width: 170px;
    margin: 0;
    margin-bottom: 4px;
    border-radius: 20px;
    object-fit: cover;
}

/* Estilo para el contenedor del slider */
.Slider {
    width: 100%;
    box-shadow: inset 2px 2px 4px rgba(77, 42, 7, 0.531);
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el texto */
.TextName {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 5px;
    padding-bottom: 0px;
    font-family: Montserrat, sans-serif;
}

.TextPrice {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    font-family: Montserrat, sans-serif;
}

.Header {
    padding: 10px;
    letter-spacing: 0.05rem;
    word-spacing: 0.25;
    font-size: 3.5rem;
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    text-align: center;
    color: black;
    font-style: italic;
}

/* Estilo para las flechas de navegación */
.arrow {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #FB8500;
    height: 50px;
    width: 30px;
    border-radius: 5px;
    z-index: 1;
}
.arrow:hover{
    background-color: #FB8500;
}

.arrow::before {
    font-size: 20px;
    color: white;
}

/* Responsive */
@media (max-width: 1024px) { /* REVISAR!!! Tablet */
    .tarjetaProductos {
        width: 240px !important;
    }
    .img {
        height: 210px;
        width: 200px;
    }
    .TextName {
        font-size: 16px;
    }
    .TextPrice {
        font-size: 14px;
    }
    .navButton {
        font-size: 12px;
        padding: 4px 16px;
    }
    .Header {
        font-size: 2.5rem;
    }
    .arrow {
        height: 40px;
        width: 25px;
    }
    .arrow::before {
        font-size: 18px;
    }
}

@media (max-width: 768px) { /* Mobile */
    .tarjetaProductos {
        width: 200px !important;
    }
    .img {
        height: 170px;
        width: 160px;
    }
    .TextName {
        font-size: 14px;
    }
    .TextPrice {
        font-size: 12px;
    }
    .navButton {
        font-size: 12px;
        padding: 5px 23px;
    }
    .Header {
        padding: 6px;
        font-size: 1.5rem;
        letter-spacing: 0;
        word-spacing: 0;
    }
    .arrow {
        height: 30px;
        width: 20px;
    }
    .arrow::before {
        font-size: 16px;
    }
}