.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Por ahora no funciona
.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
} */

.logo, .logoContainer {
  height: 5.5rem;
}

.nav {
  background-color: var(--colorPrincipal);
  width: 100%;
}

.parte1, .parte2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nav a {
  text-decoration: none;
  padding: 5px;
  color: var(--blanco);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: var(--fuentePrincipal);
  width: 100%;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}


nav a:hover{
  background-color: var(--colorPrincipal__hover);
}


@media (min-width: 768px) {
  .header {
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
    column-gap: 1rem;
  }

  .parte1, .parte2, .nav {
    display: flex;
    flex-direction: row;
  }
 
  .nav {
    background-color: unset;
    justify-content: flex-end;
    column-gap: 1dvh;
  }

  .parte1 {
    column-gap: 0.5rem;
  }
  .parte1 a {
    color: var(--negro);
    border-radius: 7px;

  }
  .parte1 a:hover{
    background-color: var(--gris);    
  }    

  .parte2 .button   {
    width: 100%;
    padding: 3px 15px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    background-color: #FB8500;
  }

  .parte2 .button:hover{
    background-color: var(--colorPrincipal__hover);
    transform: scale(1.1)
}
}

@media (min-width: 1140px) {
  .parte2 .button   {
    font-size: 25px;
    padding: 4px 25px;
  }

  .parte1 a {
    font-size: 25px;
  }
}





